<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

        <link href="https://www.dafontfree.net/embed/bHV0aGllci1yZWctcmVndWxhciZkYXRhLzE2Mi9sLzE5MzQ4MS9MdXRoaWVyLVJlZ3VsYXIudHRm" rel="stylesheet" type="text/css"/>
        <!-- others css -->
        <!-- <link rel="stylesheet" href="{% static 'css/typography.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <div style="background-color:{{colors.color1}}">


            <div class="row main-police" style="text-align:center; font-size:50px">
                <div class="col">
                    <a style="color:{{colors.color2}}; text-decoration:none" href="{% url 'green_jacket_app:home' %}"><strong>GREEN</strong> SCORE</a>
                </div>
                <div class="col">
                    <a style="color:{{colors.color3}}; text-decoration:none" href="{% url 'green_jacket_app:brands' %}">Marques</a>
                </div>
                <div class="col">
                    <a style="color:{{colors.color3}}; text-decoration:none" href="{% url 'green_jacket_app:brand_models' %}">Modèles</a>
                </div>
                <div class="col">
                    <a style="color:{{colors.color3}}; text-decoration:none" href="{% url 'green_jacket_app:home' %}">Green Score</a>
                </div>
                <div class="col" style="font-size:20px">
                    <a style="color:{{colors.text}}; text-decoration:none" href="{% url 'green_jacket_app:signup' %}">Sign Up</a>
                    <a style="color:{{colors.text}}; text-decoration:none" href="{% url 'green_jacket_app:login_view' %}">login</a>
                    <a style="color:{{colors.text}}; text-decoration:none" href="{% url 'green_jacket_app:logout_view' %}">logout</a>
                    <a style="color:{{colors.text}}; text-decoration:none" href="{% url 'green_jacket_app:toogle_dark_mode' %}?next={{current_path}}">{% if dark_mode %}Light{% else %}Dark{% endif %} Mode</a>
                </div>

            </div>
        </div>
    </head>

    <body class="row main-police" style="background-color:{{colors.color2}}; color:{{colors.text}}"">
        <div style="margin:10px">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>