{% extends 'green_jacket/base.html' %}

{% block content %}
<article style="text-align: center">
  <h1 style="text-align:center; font-size:70px; color:{{colors.color3.1}}">Quelques Conseils Green</h1>
  <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget justo euismod, ultricies nunc vel, tincidunt urna. Sed bibendum massa sed velit ultrices, non ultrices orci vestibulum. Nulla convallis arcu nec euismod volutpat.
  </h3>
  <h3>
      Suspendisse ullamcorper, est vel tempor hendrerit, leo dui varius orci, eu egestas lectus quam eu lectus. Sed convallis eget felis vel hendrerit. Quisque hendrerit, odio a suscipit euismod, sapien lectus convallis tortor.
  </h3>
</article>
{% endblock %}