{% extends 'green_jacket/base.html' %}

{% block content %}

    <!-- Title -->
    <h1 style="text-align:center">Toto</h1>

    <!-- Other Display -->
    <div class="alert alert-primary" style="text-align:center" role="alert">
        <div class="row">

            <span class="btn btn-success">message : {{ message }}</span>

        </div>
    </div>

    <div class="row" style="text-align:center">
        <table>
            <tr>
                <th>Marque</th>
                <th>Score</th>
            </tr>
            {% for brand in brands %}
                <tr>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}